<!DOCTYPE html>
<html lang="en">
<head>
    <title>Presentation</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8000/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="presentation_item"></div>
        <div class="menu_item">Price: from 20$</div>
    </div>    
</body>
</html>